
body {

}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus();
  }
}

time.published {
	display: none;
}